# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
*/dist
*/tmp
*/out-tsc
CatalogWebApi/wwwroot/**

# C# Compiled output
*/obj
*/bin

# dependencies
**/node_modules

# IDE - VS
**/.vs

# IDE - VSCode
*/.vscode/*
!*/.vscode/settings.json
!*/.vscode/tasks.json
!*/.vscode/launch.json
!*/.vscode/extensions.json

# misc
*/coverage
*/testresults
npm-debug.log
yarn-error.log
testem.log
*/typings

# System Files
.DS_Store
Thumbs.db
